* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero h1 span {
  color: #38bdf8;
}

.subtitle {
  margin: 15px 0;
  opacity: 0.8;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
  transform: scale(1.05);
}

section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  color: #38bdf8;
  display: block;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}